<div style="padding-left: 60px">
  <%= render(Primer::Beta::TimelineItem.new) do |component| %>
    <% component.with_avatar(src: Primer::ExampleImage::BASE64_SRC, alt: "github") %>
    <% component.with_badge(bg: :success_emphasis, color: :on_emphasis, icon: :check) %>
    <% component.with_body { "Success!" } %>
  <% end %>
</div>
