<%= render(Primer::Alpha::Overlay.new(
  title: "Overlay Example",
  id: "my-Overlay",
  role: :dialog,
)) do |d| %>
  <% d.with_show_button { "Show Overlay" } %>
  <% d.with_body do %>
    <p>Some content</p>
  <% end %>
<% end %>
