<%= render(Primer::OpenProject::Fieldset.new(legend_text: legend_text, visually_hide_legend: visually_hide_legend)) do %>
  <div class="d-flex flex-column">
    <label>
      <input type="radio" name="notifications" checked>
      <span>Email me about important updates</span>
    </label>

    <label>
      <input type="radio" name="notifications">
      <span>Only notify me about security issues</span>
    </label>
  </div>
<% end %>
